<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yineng.dev_V_3_0.dao.CourseOrgUserMapper" >
  <resultMap id="BaseResultMap" type="com.yineng.dev_V_3_0.model.CourseOrgUser" >
    <id column="LRNSCN_ORG_USER_CID" property="lrnscnOrgUserCid" jdbcType="VARCHAR" />
    <result column="SYNID" property="synid" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="SKILL" property="skill" jdbcType="VARCHAR" />
    <result column="DEPT_ID" property="deptId" jdbcType="VARCHAR" />
    <result column="DEPT_FULL_DES" property="deptFullDes" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="LRNSCN_ORG_ID" property="lrnscnOrgId" jdbcType="VARCHAR" />
    <result column="ORG_STRUCTURE_ID" property="orgStructureId" jdbcType="VARCHAR" />
    <result column="PROC_INST_ID" property="procInstId" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ISVALID" property="isvalid" jdbcType="VARCHAR" />
    <result column="CREATOR_ID" property="creatorId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="LSTUPDID" property="lstupdid" jdbcType="VARCHAR" />
    <result column="LSTUPDDATE" property="lstupddate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    LRNSCN_ORG_USER_CID, SYNID, USER_ID, NAME, SEX, SKILL, DEPT_ID, DEPT_FULL_DES, ORG_ID, LRNSCN_ORG_ID, 
    ORG_STRUCTURE_ID, PROC_INST_ID, STATUS, REMARK, ISVALID, CREATOR_ID, CREATE_DATE, LSTUPDID, LSTUPDDATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cro_lrnscnorguser
    where LRNSCN_ORG_USER_CID = #{lrnscnOrgUserCid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cro_lrnscnorguser
    where LRNSCN_ORG_USER_CID = #{lrnscnOrgUserCid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yineng.dev_V_3_0.model.CourseOrgUser" >
    insert into cro_lrnscnorguser (LRNSCN_ORG_USER_CID, SYNID,USER_ID, NAME, 
      SEX, SKILL, DEPT_ID, 
      DEPT_FULL_DES, ORG_ID, LRNSCN_ORG_ID, 
      ORG_STRUCTURE_ID, PROC_INST_ID, STATUS, REMARK, ISVALID, 
      CREATOR_ID, CREATE_DATE, LSTUPDID, 
      LSTUPDDATE)
    values (#{lrnscnOrgUserCid,jdbcType=VARCHAR}, #{synid,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{skill,jdbcType=VARCHAR}, #{deptId,jdbcType=VARCHAR}, 
      #{deptFullDes,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{lrnscnOrgId,jdbcType=VARCHAR}, 
      #{orgStructureId,jdbcType=VARCHAR}, #{procInstId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{isvalid,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{lstupdid,jdbcType=VARCHAR}, 
      #{lstupddate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yineng.dev_V_3_0.model.CourseOrgUser" >
    insert into cro_lrnscnorguser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lrnscnOrgUserCid != null" >
        LRNSCN_ORG_USER_CID,
      </if>
      <if test="synid != null" >
        SYNID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="skill != null" >
        SKILL,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="deptFullDes != null" >
        DEPT_FULL_DES,
      </if>
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="lrnscnOrgId != null" >
        LRNSCN_ORG_ID,
      </if>
      <if test="orgStructureId != null" >
        ORG_STRUCTURE_ID,
      </if>
      <if test="procInstId != null" >
        PROC_INST_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="isvalid != null" >
        ISVALID,
      </if>
      <if test="creatorId != null" >
        CREATOR_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="lstupdid != null" >
        LSTUPDID,
      </if>
      <if test="lstupddate != null" >
        LSTUPDDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lrnscnOrgUserCid != null" >
        #{lrnscnOrgUserCid,jdbcType=VARCHAR},
      </if>
      <if test="synid != null" >
        #{synid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptFullDes != null" >
        #{deptFullDes,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="lrnscnOrgId != null" >
        #{lrnscnOrgId,jdbcType=VARCHAR},
      </if>
      <if test="orgStructureId != null" >
        #{orgStructureId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null" >
        #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="lstupdid != null" >
        #{lstupdid,jdbcType=VARCHAR},
      </if>
      <if test="lstupddate != null" >
        #{lstupddate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 
  <update id="updateByPrimaryKeySelective" parameterType="com.yineng.dev_V_3_0.model.CourseOrgUser" >
    update cro_lrnscnorguser
    <set >
      <if test="synid != null" >
        SYNID = #{synid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        SKILL = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptFullDes != null" >
        DEPT_FULL_DES = #{deptFullDes,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        ORG_ID = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="lrnscnOrgId != null" >
        LRNSCN_ORG_ID = #{lrnscnOrgId,jdbcType=VARCHAR},
      </if>
      <if test="orgStructureId != null" >
        ORG_STRUCTURE_ID = #{orgStructureId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null" >
        PROC_INST_ID = #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        ISVALID = #{isvalid,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="lstupdid != null" >
        LSTUPDID = #{lstupdid,jdbcType=VARCHAR},
      </if>
      <if test="lstupddate != null" >
        LSTUPDDATE = #{lstupddate,jdbcType=VARCHAR},
      </if>
    </set>
    where LRNSCN_ORG_USER_CID = #{lrnscnOrgUserCid,jdbcType=VARCHAR}
  </update>
  -->
  <update id="updateByPrimaryKeySelective" parameterType="com.yineng.dev_V_3_0.model.CourseOrgUser" >
    update cro_lrnscnorguser
    <set >
      <if test="synid != null" >
        SYNID = #{synid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        SKILL = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptFullDes != null" >
        DEPT_FULL_DES = #{deptFullDes,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        ORG_ID = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null" >
        PROC_INST_ID = #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        ISVALID = #{isvalid,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="lstupdid != null" >
        LSTUPDID = #{lstupdid,jdbcType=VARCHAR},
      </if>
      <if test="lstupddate != null" >
        LSTUPDDATE = #{lstupddate,jdbcType=VARCHAR},
      </if>
    </set>
    <where>
    	<if test="lrnscnOrgId != null">
    		LRNSCN_ORG_ID = #{lrnscnOrgId,jdbcType=VARCHAR}
    	</if>
    	<if test="orgStructureId != null" >
            and ORG_STRUCTURE_ID = #{orgStructureId,jdbcType=VARCHAR}
        </if>
    	<if test="userId != null">
    		and USER_ID = #{userId,jdbcType=VARCHAR}
    	</if>
    </where>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yineng.dev_V_3_0.model.CourseOrgUser" >
    update cro_lrnscnorguser
    set SYNID = #{synid,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      SKILL = #{skill,jdbcType=VARCHAR},
      DEPT_ID = #{deptId,jdbcType=VARCHAR},
      DEPT_FULL_DES = #{deptFullDes,jdbcType=VARCHAR},
      ORG_ID = #{orgId,jdbcType=VARCHAR},
      LRNSCN_ORG_ID = #{lrnscnOrgId,jdbcType=VARCHAR},
      ORG_STRUCTURE_ID = #{orgStructureId,jdbcType=VARCHAR},
      PROC_INST_ID = #{procInstId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ISVALID = #{isvalid,jdbcType=VARCHAR},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      LSTUPDID = #{lstupdid,jdbcType=VARCHAR},
      LSTUPDDATE = #{lstupddate,jdbcType=VARCHAR}
    where LRNSCN_ORG_USER_CID = #{lrnscnOrgUserCid,jdbcType=VARCHAR}
  </update>
  <select id="getUsersOfRole" resultType="java.lang.String" parameterType="java.util.Map">
  	select USER_ID from cro_lrnscnorguser
  	where ORG_STRUCTURE_ID in (select ORG_STRUCTURE_ID from cro_lrnscnorgstruct
  								where PARENT_ID = #{groupId, jdbcType=VARCHAR} and CONTEXT_ID = #{roleId, jdbcType=VARCHAR}
  								)
  </select>
  <select id="checkIsAllUserFinishCourse" resultType="java.lang.Integer" parameterType="java.lang.String">
  	select  count(*)
  	from cro_lrnscnorguser  
  	where LRNSCN_ORG_ID=#{lrnscnOrgId, jdbcType=VARCHAR} and STATUS!="1"
  </select>
</mapper>