<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yineng.dev_V_3_0.dao.CourseOrgStructureMapper" >
  <resultMap id="BaseResultMap" type="com.yineng.dev_V_3_0.model.CourseOrgStructure" >
    <id column="ORG_STRUCTURE_ID" property="orgStructureId" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="TREE_NODE_CODE" property="treeNodeCode" jdbcType="VARCHAR" />
    <result column="SORT" property="sort" jdbcType="VARCHAR" />
    <result column="CONTEXT_ID" property="contextId" jdbcType="VARCHAR" />
    <result column="CONTEXT_DES" property="contextDes" jdbcType="VARCHAR" />
    <result column="LEVEL" property="level" jdbcType="TINYINT" />
    <result column="ISLEAF" property="isleaf" jdbcType="VARCHAR" />
    <result column="COUNT" property="count" jdbcType="TINYINT" />
    <result column="LRNSCN_ORG_ID" property="lrnscnOrgId" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ISVALID" property="isvalid" jdbcType="VARCHAR" />
    <result column="CREATOR_ID" property="creatorId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="LSTUPDID" property="lstupdid" jdbcType="VARCHAR" />
    <result column="LSTUPDDATE" property="lstupddate" jdbcType="VARCHAR" />
    
    <!-- extends -->
    <result column="COUNTS" property="counts" jdbcType="TINYINT" />
    <result column="PROC_DEF_ID" property="processDefinitionId" jdbcType="VARCHAR" />
    <result column="TEACHER_ID" property="teacherId" jdbcType="VARCHAR" />
    <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR" />
    <result column="ORG_USER_ID" property="orgUserId" jdbcType="VARCHAR" />
    <result column="ORG_USER_NAME" property="orgUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ORG_STRUCTURE_ID, PARENT_ID, TREE_NODE_CODE, SORT, CONTEXT_ID, CONTEXT_DES, LEVEL, 
    ISLEAF, COUNT, LRNSCN_ORG_ID, STATUS, REMARK, ISVALID, CREATOR_ID, CREATE_DATE, LSTUPDID, 
    LSTUPDDATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cro_lrnscnorgstruct
    where ORG_STRUCTURE_ID = #{orgStructureId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cro_lrnscnorgstruct
    where ORG_STRUCTURE_ID = #{orgStructureId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yineng.dev_V_1_0.model.CourseOrgStructure" >
    insert into cro_lrnscnorgstruct (ORG_STRUCTURE_ID, PARENT_ID, TREE_NODE_CODE, 
      SORT, CONTEXT_ID, CONTEXT_DES, 
      LEVEL, ISLEAF, COUNT, 
      LRNSCN_ORG_ID, STATUS, REMARK, ISVALID, 
      CREATOR_ID, CREATE_DATE, LSTUPDID, 
      LSTUPDDATE)
    values (#{orgStructureId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{treeNodeCode,jdbcType=VARCHAR}, 
      #{sort,jdbcType=VARCHAR}, #{contextId,jdbcType=VARCHAR}, #{contextDes,jdbcType=VARCHAR}, 
      #{level,jdbcType=TINYINT}, #{isleaf,jdbcType=VARCHAR}, #{count,jdbcType=TINYINT}, 
      #{lrnscnOrgId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{isvalid,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{lstupdid,jdbcType=VARCHAR}, 
      #{lstupddate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yineng.dev_V_1_0.model.CourseOrgStructure" >
    insert into cro_lrnscnorgstruct
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgStructureId != null" >
        ORG_STRUCTURE_ID,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="treeNodeCode != null" >
        TREE_NODE_CODE,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
      <if test="contextId != null" >
        CONTEXT_ID,
      </if>
      <if test="contextDes != null" >
        CONTEXT_DES,
      </if>
      <if test="level != null" >
        LEVEL,
      </if>
      <if test="isleaf != null" >
        ISLEAF,
      </if>
      <if test="count != null" >
        COUNT,
      </if>
      <if test="lrnscnOrgId != null" >
        LRNSCN_ORG_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="isvalid != null" >
        ISVALID,
      </if>
      <if test="creatorId != null" >
        CREATOR_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="lstupdid != null" >
        LSTUPDID,
      </if>
      <if test="lstupddate != null" >
        LSTUPDDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgStructureId != null" >
        #{orgStructureId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="treeNodeCode != null" >
        #{treeNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=VARCHAR},
      </if>
      <if test="contextId != null" >
        #{contextId,jdbcType=VARCHAR},
      </if>
      <if test="contextDes != null" >
        #{contextDes,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=TINYINT},
      </if>
      <if test="isleaf != null" >
        #{isleaf,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=TINYINT},
      </if>
      <if test="lrnscnOrgId != null" >
        #{lrnscnOrgId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="lstupdid != null" >
        #{lstupdid,jdbcType=VARCHAR},
      </if>
      <if test="lstupddate != null" >
        #{lstupddate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yineng.dev_V_1_0.model.CourseOrgStructure" >
    update cro_lrnscnorgstruct
    <set >
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="treeNodeCode != null" >
        TREE_NODE_CODE = #{treeNodeCode,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=VARCHAR},
      </if>
      <if test="contextId != null" >
        CONTEXT_ID = #{contextId,jdbcType=VARCHAR},
      </if>
      <if test="contextDes != null" >
        CONTEXT_DES = #{contextDes,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        LEVEL = #{level,jdbcType=TINYINT},
      </if>
      <if test="isleaf != null" >
        ISLEAF = #{isleaf,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        COUNT = #{count,jdbcType=TINYINT},
      </if>
      <if test="lrnscnOrgId != null" >
        LRNSCN_ORG_ID = #{lrnscnOrgId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        ISVALID = #{isvalid,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="lstupdid != null" >
        LSTUPDID = #{lstupdid,jdbcType=VARCHAR},
      </if>
      <if test="lstupddate != null" >
        LSTUPDDATE = #{lstupddate,jdbcType=VARCHAR},
      </if>
    </set>
    where ORG_STRUCTURE_ID = #{orgStructureId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yineng.dev_V_1_0.model.CourseOrgStructure" >
    update cro_lrnscnorgstruct
    set PARENT_ID = #{parentId,jdbcType=VARCHAR},
      TREE_NODE_CODE = #{treeNodeCode,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=VARCHAR},
      CONTEXT_ID = #{contextId,jdbcType=VARCHAR},
      CONTEXT_DES = #{contextDes,jdbcType=VARCHAR},
      LEVEL = #{level,jdbcType=TINYINT},
      ISLEAF = #{isleaf,jdbcType=VARCHAR},
      COUNT = #{count,jdbcType=TINYINT},
      LRNSCN_ORG_ID = #{lrnscnOrgId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ISVALID = #{isvalid,jdbcType=VARCHAR},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      LSTUPDID = #{lstupdid,jdbcType=VARCHAR},
      LSTUPDDATE = #{lstupddate,jdbcType=VARCHAR}
    where ORG_STRUCTURE_ID = #{orgStructureId,jdbcType=VARCHAR}
  </update>
  <select id="getUserGroupInfo" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select a.PARENT_ID, a.ORG_STRUCTURE_ID, a.CONTEXT_ID, a.CONTEXT_DES, b.COUNTS, c.PROC_DEF_ID, c.TEACHER_ID, c.TEACHER_NAME, c.ORG_USER_ID, c.ORG_USER_NAME
	from cro_lrnscnorgstruct a, 
			(select count(*) as COUNTS, ORG_STRUCTURE_ID 
				from cro_lrnscnorguser 
				where ORG_STRUCTURE_ID in (select ORG_STRUCTURE_ID  
										  from cro_lrnscnorguser 
										  where SYNID=#{userId, jdbcType=VARCHAR} and LRNSCN_ORG_ID=#{lrnscnOrgId, jdbcType=VARCHAR})
				group by ORG_STRUCTURE_ID
			) b,
			(select LRNSCN_ORG_ID, PROC_DEF_ID, TEACHER_ID, TEACHER_NAME, ORG_USER_ID, ORG_USER_NAME from cro_lrnscnorg where LRNSCN_ORG_ID=#{lrnscnOrgId, jdbcType=VARCHAR}) c 
	where a.ORG_STRUCTURE_ID = b.ORG_STRUCTURE_ID and a.LRNSCN_ORG_ID = c.LRNSCN_ORG_ID 
  </select>
  <select id="checkIsAllGroupFinishCourse" resultType="java.lang.Integer" parameterType="java.lang.String">
  	select  count(*)
  	from cro_lrnscnorgstruct  
  	where LRNSCN_ORG_ID=#{lrnscnOrgId, jdbcType=VARCHAR} and STATUS!="1" and SORT="O"
  </select>
</mapper>