<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.formManager.repository.ActFormAttrDao" >
  <resultMap id="BaseResultMap" type="com.web.formManager.entity.ActFormAttr" >
    <id column="attrId" property="attrId" jdbcType="VARCHAR" />
    <result column="attrName" property="attrName" jdbcType="VARCHAR" />
    <result column="formId" property="formId" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="attrType" property="attrType" jdbcType="VARCHAR" />
    <result column="isFlow" property="isFlow" jdbcType="VARCHAR" />
    <result column="isProcessVar" property="isProcessVar" jdbcType="VARCHAR" />
    <result column="defaultValue" property="defaultValue" jdbcType="VARCHAR" />
    <result column="optionValues" property="optionValues" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="VARCHAR" />
    <result column="lastUpdateTime" property="lastUpdateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    attrId, attrName, formId, label, attrType, isFlow, isProcessVar, defaultValue, optionValues, createTime, 
    lastUpdateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from act_form_attr
    where attrId = #{attrId,jdbcType=VARCHAR}
    order by createTime asc
  </select>
  <select id="getFormAttrList" resultMap="BaseResultMap" parameterType="com.yineng.dev_V_3_0.model.ActFormAttr" >
    select 
    <include refid="Base_Column_List" />
    from act_form_attr
    <where>
    	<if test="attrId != null" >
        	attrId = #{attrId,jdbcType=VARCHAR}
        </if>
        <if test="label != null" >
        	and label like concat(concat("%", #{label,jdbcType=VARCHAR}), "%")
        </if>
        <if test="formId != null" >
        	and formId = #{formId,jdbcType=VARCHAR}
        </if>
    </where>
    order by createTime asc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.yineng.dev_V_3_0.model.ActFormAttr" >
    delete from act_form_attr
    <where>
    	<if test="attrId != null">
    	 	attrId = #{attrId,jdbcType=VARCHAR}
    	</if>
    	<if test="formId != null" >
        	and formId = #{formId,jdbcType=VARCHAR}
        </if>
    </where>
  </delete>
  <insert id="insert" parameterType="com.yineng.dev_V_3_0.model.ActFormAttr" >
    insert into act_form_attr (attrId, attrName, formId, 
      label, attrType, isFlow, isProcessVar, defaultValue, 
      optionValues, createTime, lastUpdateTime
      )
    values (#{attrId,jdbcType=VARCHAR}, #{attrName,jdbcType=VARCHAR}, #{formId,jdbcType=VARCHAR}, 
      #{label,jdbcType=VARCHAR}, #{attrType,jdbcType=VARCHAR}, #{isFlow,jdbcType=VARCHAR}, #{isProcessVar,jdbcType=VARCHAR}, #{defaultValue,jdbcType=VARCHAR}, 
      #{optionValues,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yineng.dev_V_3_0.model.ActFormAttr" >
    insert into act_form_attr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attrId != null" >
        attrId,
      </if>
      <if test="attrName != null" >
        attrName,
      </if>
      <if test="formId != null" >
        formId,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="attrType != null" >
        attrType,
      </if>
      <if test="isFlow != null" >
        isFlow,
      </if>
      <if test="isProcessVar != null" >
        isProcessVar,
      </if>
      <if test="defaultValue != null" >
        defaultValue,
      </if>
      <if test="optionValues != null" >
        optionValues,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="lastUpdateTime != null" >
        lastUpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attrId != null" >
        #{attrId,jdbcType=VARCHAR},
      </if>
      <if test="attrName != null" >
        #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        #{formId,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="attrType != null" >
        #{attrType,jdbcType=VARCHAR},
      </if>
      <if test="isFlow != null" >
        #{isFlow,jdbcType=VARCHAR},
      </if>
      <if test="isProcessVar != null" >
        #{isProcessVar,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null" >
        #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="optionValues != null" >
        #{optionValues,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch"  parameterType="java.util.List" >
    insert into act_form_attr (attrId, attrName, formId, 
							      label, attrType, isFlow, isProcessVar, defaultValue, 
							      optionValues, createTime, lastUpdateTime
							    )
    values 
    <foreach collection="list" item="record" separator=",">
     (
      #{record.attrId,jdbcType=VARCHAR}, #{record.attrName,jdbcType=VARCHAR}, #{record.formId,jdbcType=VARCHAR}, 
      #{record.label,jdbcType=VARCHAR}, #{record.attrType,jdbcType=VARCHAR}, #{record.isFlow,jdbcType=VARCHAR}, #{record.isProcessVar,jdbcType=VARCHAR}, #{record.defaultValue,jdbcType=VARCHAR}, 
      #{record.optionValues,jdbcType=VARCHAR}, #{record.createTime,jdbcType=VARCHAR}, #{record.lastUpdateTime,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yineng.dev_V_3_0.model.ActFormAttr" >
    update act_form_attr
    <set >
      <if test="attrName != null" >
        attrName = #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        formId = #{formId,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="attrType != null" >
        attrType = #{attrType,jdbcType=VARCHAR},
      </if>
      <if test="isFlow != null" >
        isFlow = #{isFlow,jdbcType=VARCHAR},
      </if>
      <if test="isProcessVar != null" >
        isProcessVar = #{isProcessVar,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null" >
        defaultValue = #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="optionValues != null" >
        optionValues = #{optionValues,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        lastUpdateTime = #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where attrId = #{attrId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yineng.dev_V_3_0.model.ActFormAttr" >
    update act_form_attr
    set attrName = #{attrName,jdbcType=VARCHAR},
      formId = #{formId,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      attrType = #{attrType,jdbcType=VARCHAR},
      isFlow = #{isFlow,jdbcType=VARCHAR},
      isProcessVar = #{isProcessVar,jdbcType=VARCHAR},
      defaultValue = #{defaultValue,jdbcType=VARCHAR},
      optionValues = #{optionValues,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=VARCHAR},
      lastUpdateTime = #{lastUpdateTime,jdbcType=VARCHAR}
    where attrId = #{attrId,jdbcType=VARCHAR}
  </update>
</mapper>