<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.formManager.repository.ActFormDao" >
  <resultMap id="BaseResultMap" type="com.web.formManager.entity.ActForm" >
    <id column="formId" property="formId" jdbcType="VARCHAR" />
    <result column="formName" property="formName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="formStatus" property="formStatus" jdbcType="VARCHAR" />
    <result column="formHtml" property="formHtml" jdbcType="VARCHAR" />
    <result column="formXml" property="formXml" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="VARCHAR" />
    <result column="lastUpdateTime" property="lastUpdateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    formId, formName, description, userId, userName, formStatus, formHtml, formXml, createTime, 
    lastUpdateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from act_form
    where formId = #{formId,jdbcType=VARCHAR}
  </select>
  <select id="getFormList" resultMap="BaseResultMap" parameterType="com.yineng.dev_V_3_0.model.ActForm" >
    select 
    <include refid="Base_Column_List" />
    from act_form
    <where>
        <if test="formId != null" >
        	formId = #{formId,jdbcType=VARCHAR}
        </if>
        <if test="formName != null" >
        	and formName like concat(concat("%", #{formName,jdbcType=VARCHAR}), "%")
        </if>
        <if test="formStatus != null" >
        	and formStatus = #{formStatus,jdbcType=VARCHAR}
        </if>
        <if test="userId != null" >
        	and userId = #{userId,jdbcType=VARCHAR}
        </if>
        <if test="userName != null" >
        	and userName like concat(concat("%", #{userName,jdbcType=VARCHAR}), "%")
        </if>
    </where>
    order by createTime desc
  </select>
  <select id="checkFormName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from act_form
    where formName = #{formName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from act_form
    where formId = #{formId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yineng.dev_V_3_0.model.ActForm" >
    insert into act_form (formId, formName, description, 
      userId, userName, formStatus, 
      formHtml, formXml, createTime, 
      lastUpdateTime)
    values (#{formId,jdbcType=VARCHAR}, #{formName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{formStatus,jdbcType=VARCHAR}, 
      #{formHtml,jdbcType=VARCHAR}, #{formXml,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yineng.dev_V_3_0.model.ActForm" >
    insert into act_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="formId != null" >
        formId,
      </if>
      <if test="formName != null" >
        formName,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="userName != null" >
        userName,
      </if>
      <if test="formStatus != null" >
        formStatus,
      </if>
      <if test="formHtml != null" >
        formHtml,
      </if>
      <if test="formXml != null" >
        formXml,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="lastUpdateTime != null" >
        lastUpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="formId != null" >
        #{formId,jdbcType=VARCHAR},
      </if>
      <if test="formName != null" >
        #{formName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="formStatus != null" >
        #{formStatus,jdbcType=VARCHAR},
      </if>
      <if test="formHtml != null" >
        #{formHtml,jdbcType=VARCHAR},
      </if>
      <if test="formXml != null" >
        #{formXml,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yineng.dev_V_3_0.model.ActForm" >
    update act_form
    <set >
      <if test="formName != null" >
        formName = #{formName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="formStatus != null" >
        formStatus = #{formStatus,jdbcType=VARCHAR},
      </if>
      <if test="formHtml != null" >
        formHtml = #{formHtml,jdbcType=VARCHAR},
      </if>
      <if test="formXml != null" >
        formXml = #{formXml,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        lastUpdateTime = #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where formId = #{formId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yineng.dev_V_3_0.model.ActForm" >
    update act_form
    set formName = #{formName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=VARCHAR},
      userName = #{userName,jdbcType=VARCHAR},
      formStatus = #{formStatus,jdbcType=VARCHAR},
      formHtml = #{formHtml,jdbcType=VARCHAR},
      formXml = #{formXml,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=VARCHAR},
      lastUpdateTime = #{lastUpdateTime,jdbcType=VARCHAR}
    where formId = #{formId,jdbcType=VARCHAR}
  </update>
</mapper>